
.pubs-title {
  font-size: 1.2em;
}

.pubs-author:hover {
  border-bottom: 1px dashed #000;
}

/* .pubs-author::before {
  content: ", by ";
} */

.pubs-link {
  font-size: 0.9em;
}

.pubs-link:hover {
  border-bottom: 1px dashed #000;
}

.pubs-venue {
  font-size: 0.95em;
  font-style: italic;
  color: gray;
}

.pubs-comment {
  font-style: italic;
}
